{% extends 'base.html' %}

{% block content %}
  <form method="post" action="{% url 'photos:clear_database' %}">
    {% csrf_token %}
    <input type="hidden" name="next" value="{{ request.path }}">
    <button type="submit" class="btn btn-danger pull-right">
      <span class="glyphicon glyphicon-trash"></span> Clear Database
    </button>
  </form>
  <h1 class="page-header">
    Uploaded Files
    <small>/ {% block title %}{% endblock %}</small>
  </h1>
  
    <div class="col-md-9">
      {% block photos_content %}
      {% endblock %}
    </div>
  </div>
{% endblock %}